<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	

	
	<bean id="categoriesDAO" class="app.dao.impl.CategoriesDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="productsDAO" class="app.dao.impl.ProductsDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
<!-- 	
	

	<bean id="rolesDAO" class="app.dao.impl.RolesDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="accountsDAO" class="app.dao.impl.AccountsDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="shippersDAO" class="app.dao.impl.ShippersDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="orderStatusDAO" class="app.dao.impl.OrderStatusDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="ordersDAO" class="app.dao.impl.OrdersDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="paymentsDAO" class="app.dao.impl.PaymentsDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="productImagesDAO" class="app.dao.impl.ProductImagesDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	
	
	<bean id="orderItemsDAO" class="app.dao.impl.OrderItemsDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="shopsDAO" class="app.dao.impl.ShopsDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="brandsDAO" class="app.dao.impl.BrandsDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="orderItemStatusDAO" class="app.dao.impl.OrderItemStatusDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
 -->
	<bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
</beans>